body {
  background-color: #dcbb9a;
  color: #000000; }
  body a:link {
    color: none; }
  body #content {
    background-color: #ffffff;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; }
  body p {
    color: #000000; }
  body h1 {
    color: #893c00;
    text-transform: none;
    text-align: center; }
  body h2 {
    color: #893c00; }
  body img {
    border: 2px solid #893c00;
    padding: 3px; }
  body .img-left {
    float: left;
    margin: 5px 10px 5px 0px; }
  body .img-right {
    float: right;
    margin: 5px 0px 5px 10px; }
  body .brief {
    color: #000000;
    background: #fadcba;
    width: 375px;
    padding: 20px;
    float: left;
    margin: 5px 10px 5px 0px; }
  body caption {
    text-align: right; }
  body table {
    line-height: 30px; }
  body th {
    text-transform: uppercase;
    background: #e0e0e0; }
  body td {
    background: #ffffff;
    border-bottom: 1px solid #ffffff; }
  body .name {
    display: flex; }
  body .pad {
    padding-right: 5px; }
  body .inpwidth {
    width: 455px; }
  body .inpwidth2 {
    width: 920px; }
  body button {
    background-color: #ffffff;
    border: 1px solid #3d70a1;
    color: #3d70a1;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }
