body{
	background-color: $bgcolor;
	color: $bodycolor;

	a:link {
  color:$alink; 
}
#content{
background-color: $bgcolorconten;
width: $contentwidth;	
margin-left: auto;
margin-right: auto;
padding: 20px;
}

p {
	color: $pcolor;
}
h1 {
	color:$hcolor;
	text-transform: $textrans;	
	text-align: center;
}


h2 {
	color:$hcolor;
}

img {
	border: 2px solid $hcolor;
	padding: 3px;
}

.img-left {
	float: left;
	margin: 5px 10px 5px 0px;
}
.img-right {
	float: right;
	margin: 5px 0px 5px 10px;
}
.brief {
	color:$brieftextcolor;
	background:$briefbg;
	width: $briefwidh;
	padding: 20px;
	float: left;
	margin: 5px 10px 5px 0px;
}

caption {
	text-align: right;
}

table{
	line-height: 30px;
}
th{
text-transform: uppercase;
background: $thbg;
}
td {
background: $tdbg;	
border-bottom: 1px solid $tdbg;
}

.name {
	display:flex;
}

.pad {
	padding-right: 5px;
}

.inpwidth{
width: 455px;
}

.inpwidth2{
width: 920px;	
}

button {
    background-color: $bgcolorconten;
    border: 1px solid $buttoncolor;
    color: $buttoncolor;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
}