$bgcolor:rgba(198, 238, 252, 0.53);
$bgcolorconten:#3b3b3b;
$contentwidth: 950px;
$bodycolor:#ffffff;
$hcolor: #fccd10;
$briefbg: #fff178;
$briefwidh: 910px;
$thbg: #94a34e;
$tdbg: #677d01;
$buttoncolor:#f5c70f;
$pcolor:#ffffff;
$textrans: uppercase;
$brieftextcolor:#000000;
$alink:#fccd10;
