$bgcolor:#dcbb9a;
$bgcolorconten:#ffffff;
$contentwidth: 950px;
$bodycolor:#000000;
$hcolor: #893c00;
$briefbg: #fadcba;
$briefwidh: 375px;
$thbg: #e0e0e0;
$tdbg: #ffffff;
$buttoncolor:#3d70a1;
$pcolor:#000000;
$textrans: none;
$brieftextcolor:#000000;
$alink:none;

